body {
    font-family: monospace;
    margin: 0%;
}

.topo {
    background-color: wheat;
    padding: 20px;
}

.headermeio {
    background-color: aqua;
    padding: 20px;
}
.headerult {
background-color: yellow;
padding: 20px;
font-size: x-large;

}